.App {
text-align: center;

}
.Background-color {
  background-color: lightgreen;
}
.App-logo {
  opacity: 90%;
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
text-align: center;
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {

  font-size: large;
}
.Main {
  margin-bottom: 25px;
  float:left;
}
.center {
  margin-left:25px;
  float:right;
}
.Sun {
  animation: App-logo-spin infinite 5s linear;
  height: 90px;
}
.Amara{
  height: 400px;
  width: 300px;
}
.Destry {
  height: 400px;
  width: 300px;
}
.Isaac {
  height: 400px;
  width: 300px;
}
.Sarah {
  height: 400px;
  width: 300px;
}
.Waterfall {
  height: 400px;
  width: 100%;
}
#Container1 {
  margin-bottom: 25px;
}

#Container2 {

  margin-bottom: 25px;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
